@{
    ViewData["Title"] = "Análise de documentos";
}

@model DesafioProjetoAnaliseDocumentos.Models.FileUpload

<form asp-controller="Home" asp-action="Upload" class="form" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label asp-for="File" class="form-label"></label>
        <input asp-for="File" type="file" class="form-control" accept=".bmp, .jpg, .jpeg, .png" />
        <span asp-validation-for="File" class="form-text text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}


<partial name="_ValidationScriptsPartial" />

